mat-nav-list {
    margin-top: 50px;
}

mat-list-item {
    margin-top: 30px;
    padding: 30px;
    padding-left: 10px;
}

button {
    padding: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

mat-icon {
    scale: 1.2;
}

.mat-mdc-button {
    --mat-mdc-button-persistent-ripple-color: none;
}

.mat-button-toggle-focus-overlay {
    display: none;
}

.active {
    background-color: #B6BBC4;
}

p {
    color: #B6BBC4;
    text-align: center;
    font-size: 30px;
    margin-top: -20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}