<div class="dashboard">
    <h1>Statistiques de la plateforme.</h1>
    <div class="subdash">
        <div class="carre" routerLink="/stage"><b>{{statistiques.totalStages}} </b>Stages</div>
        <div class="carre" routerLink="/etudiant"><b>{{statistiques.totalEtudiants}} </b>Etudiants</div>
        <div class="carre" routerLink="/professeur"><b>{{statistiques.totalProfesseurs}} </b>Professeurs</div>
        <div class="carre" routerLink="/tuteur"><b>{{statistiques.totalTuteurs}} </b>Tuteurs</div>
        <div class="carre" routerLink="/entreprise"><b>{{statistiques.totalEntreprises}} </b>Entreprises</div>
        <div class="carre" routerLink="/promotion"><b>{{statistiques.totalPromotions}} </b>Promotions</div>
    </div>
</div>