<div class="professeur">
    <p>Ajouter ou consulter la liste des professeurs.</p>
    <div class="ajout">
        <button (click)="ajouterProf()">Ajouter</button>
    </div>
    <div class="filtre">
      <label for="">Filtrer la recherche</label>
      <input type="text" placeholder="Rechercher par des mots clés" [(ngModel)]="searchProfesseur">
    </div>
    <div class="liste">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Qualité</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Téléphone école</th>
                <th scope="col">Télephone domicile</th>
                <th scope="col">Date embauche</th>
                <th scope="col">Date départ</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let professeur of listeProfesseurs | searchFilter: searchProfesseur">
              <tr>
                <td>{{professeur.no_professeur}}</td>
                <td>
                  <select name="qualite_professeur" [(ngModel)]="professeur.qualite_professeur" required>
                    <option value="Mr">Mr</option>
                    <option value="Mme">Mme</option>
                  </select>
                </td>
                <td><input type="text" name="nom_professeur" [(ngModel)]="professeur.nom_professeur" required></td>
                <td><input type="text" name="prenom_professeur" [(ngModel)]="professeur.prenom_professeur" required></td>
                <td><input type="email" name="email_professeur" [(ngModel)]="professeur.email_professeur" required></td>
                <td><input type="text" name="adresse_professeur" [(ngModel)]="professeur.adresse_professeur" required></td>
                <td><input type="number" name="code_postal_professeur" [(ngModel)]="professeur.code_postal_professeur" required></td>
                <td><input type="text" name="ville_professeur" [(ngModel)]="professeur.ville_professeur" required></td>
                <td><input type="number" name="tel_ecole_professeur" [(ngModel)]="professeur.tel_ecole_professeur" required></td>
                <td><input type="number" name="tel_domicile_professeur" [(ngModel)]="professeur.tel_domicile_professeur" required></td>
                <td><input matInput type="text" name="date_embauche_professeur" [(ngModel)]="professeur.date_embauche_professeur" required></td>
                <td><input matInput type="text" name="date_depart_professeur" [(ngModel)]="professeur.date_depart_professeur" required></td>
                <td id="actions">
                  <mat-icon (click)="modifierProfesseur(professeur)">save</mat-icon>
                  <mat-icon (click)="supprimerProfesseur(professeur.no_professeur)">delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table> 
    </div>
</div>
