<div class="promotion">
    <p>Ajouter ou consulter la liste des promotions.</p>
    <div class="ajout">
        <button (click)="ajouterPromo()">Ajouter</button>
    </div>
    <div class="filtre">
      <label for="">Filtrer la recherche</label>
      <input type="text" placeholder="Rechercher par des mots clés">
    </div>
    <div class="liste">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Année</th>
                <th scope="col">Nombre des étudiants</th>
              </tr>
            </thead>
            <tbody>
              <th>x</th>
              <th>x</th>
            </tbody>
          </table> 
    </div>
</div>
<app-footer></app-footer>