<div class="promotion">
    <p>Ajouter ou consulter la liste des promotions.</p>
    <div class="ajout">
        <button (click)="ajouterPromo()">Ajouter</button>
    </div>
    <div class="liste">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Année</th>
                <th scope="col">Nombre des étudiants</th>
                <th scope="col">N° Professeur Responsable</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let promo of listePromos">
              <tr>
                <td>{{promo.annee_promo}}</td>
                <td>{{promo.nb_etudiants}}</td>
                <td>{{promo.professeur?.no_professeur}}</td>
                <td>
                  <mat-icon (click)="supprimerPromo(promo.annee_promo)">delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table> 
    </div>
</div>