<div class="entreprise">
    <p>Ajouter ou consulter la liste des entreprises.</p>
    <div class="ajout">
        <button (click)="ajouterEntreprise()">Ajouter</button>
    </div>
    <div class="filtre">
      <label for="">Filtrer la recherche</label>
      <input type="text" placeholder="Rechercher par des mots clés" [(ngModel)]="searchEntreprise">
    </div>
    <div class="liste">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Forme juridique</th>
                <th scope="col">Raison sociale</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Télephone</th>
                <th scope="col">Fax</th>
                <th scope="col">Contact</th>
                <th scope="col">Télephone contact</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let entreprise of listeEntreprises | searchFilter: searchEntreprise">
              <tr>
                <td>{{entreprise.no_entreprise}}</td>
                <td><input type="text" name="forme_juridique_entreprise" [(ngModel)]="entreprise.forme_juridique_entreprise" required></td>
                <td><input type="text" name="raison_sociale_entreprise" [(ngModel)]="entreprise.raison_sociale_entreprise" required></td>
                <td><input type="text" name="adresse_entreprise" [(ngModel)]="entreprise.adresse_entreprise" required></td>
                <td><input type="text" name="code_postal_entreprise" [(ngModel)]="entreprise.code_postal_entreprise" required></td>
                <td><input type="text" name="ville_entreprise" [(ngModel)]="entreprise.ville_entreprise" required></td>
                <td><input type="text" name="telephone_entreprise" [(ngModel)]="entreprise.telephone_entreprise" required></td>
                <td><input type="text" name="fax_entreprise" [(ngModel)]="entreprise.fax_entreprise" required></td>
                <td><input type="text" name="contact_entreprise" [(ngModel)]="entreprise.contact_entreprise" required></td>
                <td><input type="text" name="tel_contact_entreprise" [(ngModel)]="entreprise.tel_contact_entreprise" required></td>
                <td id="actions">
                  <mat-icon (click)="modifierEntreprise(entreprise)">save</mat-icon>
                  <mat-icon (click)="supprimerEntreprise(entreprise.no_entreprise)">delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table> 
    </div>
</div>