<div class="entreprise">
    <p>Ajouter ou consulter la liste des entreprises.</p>
    <div class="ajout">
        <button>Ajouter</button>
    </div>
    <div class="filtre">
      <label for="">Filtrer la recherche</label>
      <input type="text" placeholder="Rechercher par des mots clés">
    </div>
    <div class="liste">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Forme juridique</th>
                <th scope="col">Raison sociale</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Télephone</th>
                <th scope="col">Fax</th>
                <th scope="col">Contact</th>
                <th scope="col">Télephone contact</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let entreprise of listeEntreprises">
              <td>{{entreprise.no_entreprise}}</td>
              <td>{{entreprise.forme_juridique_entreprise}}</td>
              <td>{{entreprise.raison_sociale_entreprise}}</td>
              <td>{{entreprise.adresse_entreprise}}</td>
              <td>{{entreprise.code_postal_entreprise}}</td>
              <td>{{entreprise.ville_entreprise}}</td>
              <td>{{entreprise.telephone_entreprise}}</td>
              <td>{{entreprise.fax_entreprise}}</td>
              <td>{{entreprise.contact_entreprise}}</td>
              <td>{{entreprise.tel_contact_entreprise}}</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>delete</mat-icon>
              </td>
            </tbody>
          </table> 
    </div>
</div>
<app-footer></app-footer>