.defentity p:first-child{
    text-align: start;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.defentity p:nth-child(2){
    text-align: center;
    margin-top: -20px;
    font-size: 30px;
    color: #B6BBC4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blocEtud{
    height: 85vh;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stageP{
    margin-left: 50px;
}

.stage {
    margin-top: 20px;
    overflow: auto;

}

.diag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;
    text-align: center;
}

.diag p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}


.butn{
    background-color: black;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.cpt{
    display: flex;
}

.cpt input{
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.cpt button {
    border: none;
}

.back {
    position: sticky;
}

.back mat-icon {
    cursor: pointer;
    margin-left: 30px;
    scale: 1.5;
}