.authentification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.box {
    background-color: #B6BBC4;
    padding: 50px;
    border-radius: 5px;
    width: 500px;
    height: 550px;
    transition: 0.8s;
}

.box h1 {
    color: #161A30;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.inputBox label {
    color: #31304D;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputBox input {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 15px;
    width: 350px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buttons button {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #31304D;
    color: #F0ECE5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 15px;
    width: 150px;
    margin-top: 30px;
    transition: 0.5s;
}

.buttons button:hover {
    border-radius: 0;
    background-color: #F0ECE5;
    color: #31304D;
    transition: 0.5s;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: gray 5px 5px;
}