<div class="authentification">
    <div class="box">
        <h1>Accès stricte</h1>
        <form [formGroup]="formLogin" (ngSubmit)="loginJWT()">
            <div class="inputBox">
                <label>Identifiant</label>
                <input type="text" placeholder="Votre identifiant" class="form-control" formControlName="username">
            </div>
            <div class="inputBox">
                <label>Mot de passe</label>
                <input type="password" placeholder="Votre mot de passe" class="form-control" formControlName="password">
            </div>
            <div class="buttons">
                <button>Accéder</button>
                <a routerLink="/"><button type="button">Revenir</button></a>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>