<div class="authentification">
    <div class="box">
        <h1>Accès stricte</h1>
        <div>
            <div class="inputBox">
                <label>Identifiant</label>
                <input type="text" formControlName="username" required>
            </div>
            <div class="inputBox">
                <label>Mot de passe</label>
                <input type="password" formControlName="password" required>
            </div>
            <div class="buttons">
                <a routerLink="/dashboard"><button type="submit">Accéder</button></a>
                <a routerLink="/"><button type="submit">Revenir</button></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>