<div class="authentification">
    <div class="box">
        <h1>Authentification</h1>
        <div>
            <div class="inputBox">
                <input type="text" formControlName="username" required>
                <label>Identifiant Admin</label>
            </div>
            <div class="inputBox">
                <input type="password" formControlName="password" required>
                <label>Mot de passe</label>
            </div>
            <button type="submit">Accéder</button>
        </div>
    </div>
</div>