<div class="type">
  <p>Consulter la liste des types associés stages.</p>
  <div class="liste">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Nombre de semaines</th>
            </tr>
          </thead>
          <tbody *ngFor="let type of listeTypes">
            <tr>
              <td>{{type.code_type}}</td>
              <td>{{type.nb_semaines}}</td>
            </tr>
          </tbody>
        </table> 
  </div>
</div>