.type {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ajout button {
    margin: 40px;
    padding: 12px;
    outline: none;
    border: none;
    background-color: #B6BBC4;
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
}

.ajout button:hover {
    background-color: #A4A9B1;
    transition: .2s;
}

.filtre {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 40px;
}

.filtre input {
    width: 800px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #B6BBC4;
    outline: none;
    padding-left: 10px;
    padding: 20px;
}

td, th {
    text-align: center;
}

table {
    margin-top: 120px;
    transition: 0.5s;
}

table:hover {
    background-color: #31304D;
    transition: 0.5s;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: gray 5px 5px;
}