<div class="etudiant">
    <p>Ajouter ou consulter la liste des étudiants.</p>
    <div class="ajout">
        <button (click)="ajouterEtu()">Ajouter</button>
    </div>
    <div class="filtre">
      <div class="mot-clé">
        <label for="">Filtrer la recherche</label>
        <input type="text" placeholder="Rechercher par des mots clés" [(ngModel)]="searchEtudiant">
      </div>
      <div class="promo">
        <label for="">Filtrer par promotion</label>
        <mat-select [(ngModel)]="anneePromo" placeholder="Choisir l'année" (ngModelChange)="filterParPromo()">
          <mat-option value="Toutes">Toutes</mat-option>
          <mat-option *ngFor="let promo of listePromos" [value]="promo.annee_promo">{{promo.annee_promo}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="liste">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Qualité</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Sexe</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Mention</th>
                <th scope="col">Promotion</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let etudiant of listeEtudiants | searchFilter: searchEtudiant">
              <tr>
                <td>{{etudiant.no_etudiant}}</td>
                <td>
                  <select name="qualite_etudiant" [(ngModel)]="etudiant.qualite_etudiant" required>
                    <option value="Mr">Mr</option>
                    <option value="Mme">Mme</option>
                  </select>
                </td>
                <td><input type="text" name="nom_etudiant" [(ngModel)]="etudiant.nom_etudiant" required></td>
                <td><input type="text" name="prenom_etudiant" [(ngModel)]="etudiant.prenom_etudiant" required></td>
                <td><input type="text" name="email_etudiant" [(ngModel)]="etudiant.email_etudiant" required></td>
                <td><input type="text" name="adresse_etudiant" [(ngModel)]="etudiant.adresse_etudiant" required></td>
                <td><input type="text" name="code_postal_etudiant" [(ngModel)]="etudiant.code_postal_etudiant" required></td>
                <td><input type="text" name="ville_etudiant" [(ngModel)]="etudiant.ville_etudiant" required></td>
                <td><input type="text" name="date_naissance_etudiant" [(ngModel)]="etudiant.date_naissance_etudiant" required></td>
                <td>
                  <select name="sexe_etudiant" [(ngModel)]="etudiant.sexe_etudiant" required>
                    <option value="M">M</option>
                    <option value="F">F</option>
                  </select>
                </td>
                <td><input type="text" name="telephone_etudiant" [(ngModel)]="etudiant.telephone_etudiant" required></td>
                <td><input type="text" name="mention_etudiant" [(ngModel)]="etudiant.mention_etudiant" required></td>
                <td>{{etudiant.promo.annee_promo}}</td>
                <td id="actions">
                  <mat-icon (click)="modifierEtudiant(etudiant)">save</mat-icon>
                  <mat-icon (click)="supprimerEtudiant(etudiant.no_etudiant, etudiant.promo)">delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table> 
    </div>
</div>