<div class="etudiant">
    <p>Ajouter ou consulter la liste des étudiants.</p>
    <div class="ajout">
        <button (click)="ajouterEtu()">Ajouter</button>
    </div>
    <div class="filtre">
      <div class="mot-clé">
        <label for="">Filtrer la recherche</label>
        <input type="text" placeholder="Rechercher par des mots clés" [(ngModel)]="searchEtudiant">
      </div>
      <div class="promo">
        <label for="">Filtrer par promotion</label>
        <mat-select [(ngModel)]="anneePromo" placeholder="Choisir l'année" (ngModelChange)="filterParPromo()">
          <mat-option value="Toutes">Toutes</mat-option>
          <mat-option *ngFor="let promo of listePromos" [value]="promo.annee_promo">{{promo.annee_promo}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="liste">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Qualité</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Sexe</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Mention</th>
                <th scope="col">Promotion</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let etudiant of listeEtudiants | searchFilter: searchEtudiant">
              <tr>
                <td>{{etudiant.no_etudiant}}</td>
                <td>{{etudiant.qualite_etudiant}}</td>
                <td>{{etudiant.nom_etudiant}}</td>
                <td>{{etudiant.prenom_etudiant}}</td>
                <td>{{etudiant.email_etudiant}}</td>
                <td>{{etudiant.adresse_etudiant}}</td>
                <td>{{etudiant.code_postal_etudiant}}</td>
                <td>{{etudiant.ville_etudiant}}</td>
                <td>{{etudiant.date_naissance_etudiant}}</td>
                <td>{{etudiant.sexe_etudiant}}</td>
                <td>{{etudiant.telephone_etudiant}}</td>
                <td>{{etudiant.mention_etudiant}}</td>
                <td>{{etudiant.annee_promo}}</td>
                <td>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table> 
    </div>
</div>