
.identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mail-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.mail-section input {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid #B6BBC4;
}

.mail-section label {
    font-size: 20px;
    margin-bottom: 10px;
}

.retour {
    padding-top: 50px;
}

.retour mat-icon {
    scale: 2;
    cursor: pointer;
    transition: .2s;
}

.retour mat-icon:hover {
    color: #A4A9B1;
    transition: .2s;
}